.fall{
  background-color: $bgColorPrimaryDark;
img{
  margin:50px 50px;
}
  .grats{
    text-align: center;
  span{
    color:$bgColorPrimaryLight;
    font-family:$font-regular;
    font-size:35px;
    
  }
  }  
  
  .broke1{
    background-image: url(../img/broken1.png);
    width:370px;
    height:305px;

  }
  .broke2{
    background-image: url(../img/broken2.png);
    width:576px;
    height:542px;
  }
  .num{
    text-align: center;
  span{
    color:$bgColorPrimaryLight;
    font-family:$font-regular;
    font-size:275px;
  }
}
  .buttons{
    text-align: center;
    a{
      margin:10px 30px;
    }
  }
}