.blog{
  padding:30px 0;
  background-color: $features;
  content: '';
  background-image:  url(../img/hiw.svg);
  background-repeat: no-repeat;
  background-position:90% 100%;
  background-size: 112%;
  h2 {
    font-family:$font-bold;
    box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
    background-color: $readm-hover;
    text-align: center;
    padding: 7px 15px;
    position: relative;
    display: block;
    margin-bottom:30px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 19px 0 0;
      border-color: $readm-hover transparent transparent transparent;
    }
  }
}

.blog-blox {
  background-color: $features;
  padding:20px 0;
  background-image: url(../img/hiw.svg);
  background-repeat: no-repeat;
  background-position: 56% 1300px;
  background-size: 112%;

  h4.title {
    position: relative;
    background-color: $bgColorPrimaryLight;
    padding: 8px 2%;
    text-transform: uppercase;
    font-family: $font-regular;
    color: $readm-hover;
    overflow: hidden;
    margin: 10px;
    font-size: 25px;
    display: block;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -16px;
      border-style: solid;
      left: 0;
      border-width: 16px 19px 0 0;
      border-color: $bgColorPrimaryLight transparent transparent transparent;
    }
  }
  a {
    display: block;
    padding: 2px 20px;
    font-family: $font-bold;
    text-transform: uppercase;
    color: $black;
    i {
      color: $bgColorPrimaryLight;
    }
  }

  .last {
    h4 {
      text-transform: uppercase;
    }
    .faq-li {
      margin: 10px 0;
      position: relative;
      padding: 20px;
      background-color: $bgwhite;
      box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -16px;
        border-style: solid;
        left: 0;
        border-width: 16px 19px 0 0;
        border-color: $bgwhite transparent transparent transparent;
      }
      a {
        text-transform: none;
      }
    }
  }

  .tags {
    .tag {
      padding: 20px;
    }
    a {
      color: $bgColorPrimaryLight;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      display: inline-block;
      margin: 2px;
      background-color: $readm-hover;
      padding: 4px 10px;
      &:hover {
        color: $readm-hover;
        background-color: $bgColorPrimaryLight;
        text-decoration: none;
      }
    }
  }

  .blog-container{
    margin: 20px 0;
    box-shadow: 2px 4px 7px rgba(167, 192, 200, 0.75);
    background-color: $bgwhite;
    width: 95%;
    margin: 20px auto;
    padding: 0;
  }
  .blog-content {

    .post-content{
      padding: 25px 155px 25px 415px;
      position: relative;
      min-height: 300px;
      .line{
        height: 2px;
        background-color: $bgColorPrimaryLight;
        margin: 5px 0 0;
      }
      .date{
        position: absolute;
        right: 30px;
        top: 90px;
        width: 89px;
        height: 40px;
        color: #a6cae3;
        font-size: 22px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
      }
      .read-m{
        a{
          color: $bgColorPrimaryLight;
          background-color:$readm-hover;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
          display: inline-block;
          margin-left: 7px;
          padding: 4px 10px;
          float: right;
        }
        a.rm{
          float:left;
          color:$readm-hover ;
          background-color:$bgColorPrimaryLight;
          i{
            color:$readm-hover ;
          padding:0 5px;}
        }
      }

      img.l {
        top: -20px;
        left: -28px;
        width: 400px;
        height: 300px;
        position: absolute;
        box-shadow: 2px 4px 7px rgba(167, 192, 200, 0.7);
        vertical-align: middle;
      }

    }
    .right{
      padding: 25px 415px 25px 155px;
      position: relative;
      min-height: 300px;
      img{
        top: -20px;
        right: -28px;
        width: 400px;
        height: 300px;
        position: absolute;
        box-shadow: 2px 4px 7px rgba(167, 192, 200, 0.7);
        vertical-align: middle;
      }
      .date{
        left: 30px;
      }
      .read-m{
      a{float:left;}
      a.rm{float:right;}
      }
    }






  }

  .pad{margin:40px 0;}
  .paginator{
    padding:0 30px;
    .page{
      text-decoration: none;
      margin: 2px 10px 2px 0;
      box-shadow: 2px 4px 7px rgba(167, 192, 200, 0.75);
      background-color: $bgwhite;
      color: $bgColorPrimaryLight;
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 5px 15px;
      border: none;
      display: inline-block;
      &:hover{
        background-color: $bgColorPrimaryLight;
        color: $bgwhite;
      }
    }

  }

}