.bg-dark {
  background-color: $bgColorPrimaryLight!important;
}
.bg-light{
  background-color: $readm-hover!important;
}

//  Secondary burger
.menu3{
  ul{
    margin:0;
    padding:0;
  }
  li{
    text-transform: uppercase;
    display: block;
    font-size:1.2rem;
    padding-left:10px;
    //border-right:2px solid $bgwhite;
    a{
      color:$bgwhite;
      padding:6px 14px;
      text-decoration: none;
      font-family: $font-regular;
      &:hover{
        background-color: $readm-hover;
        color:$bgColorPrimaryLight;
      }
    }
  }
}
