.dis2{
  background-color: $features;
  content: '';
  background-image:  url(../img/hiw.svg);
  background-repeat: no-repeat;
  background-position:90% 216%;
  background-size: 112%;
  .box{
        margin-bottom:35px;
    h3{
      padding:10px;
      margin:0;
      color:$readm-hover;
      text-transform: uppercase;
      background-color: $bgColorPrimaryLight;
    }
.inside{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
    .box-in{
      display: inline-block;
      //width:100%;
      flex-grow:1;
      &:first-child{
        margin:2px 2px 2px 0;
      }
      &:nth-child(2){
         margin:2px 0 2px 0;
       }
      &:nth-child(3){
        margin:2px 0 2px 2px;
      }
      &:nth-child(4){
        margin:2px 0 2px 2px;
      }
      &:last-child{
        margin:2px 0 2px 2px;
      }

      .up{
        display:block;
        border:1px solid silver;
        background-color: $bgwhite;
        text-align: center;
        padding:10px 0;
        margin-bottom:2px;
        font-family:$font-bold;
      }
      .down{
        display:block;
        border:1px solid silver;
        background-color: $bgwhite;
        text-align: center;
        padding:10px 0;
        i , b{
          color:$bgColorPrimaryLight;
        }

      }
    }
  }

.links{
  border-bottom:2px solid $bgColorPrimaryLight;
  padding:10px;
  margin-bottom: -30px;

  &:nth-child(2){
    margin:0;
    border:none;
  }
  &:nth-child(3){
    margin:0;
    border:none;
  }
  span{
    padding:0 20px;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    &:before{
      content: '';
      position: absolute;
      width:20px;
      height:20px;
      top:3px;
      left:-5px;
    }
  }

  .inf:before {
    background-image: url(../img/o-icons/Orderdetails.svg);
    background-repeat:no-repeat;

  }

  .files:before{
    background-image: url(../img/o-icons/page.svg);
    background-repeat:no-repeat;
    }
   .envelope:before{
    background-image: url(../img/o-icons/message1.svg);
     background-repeat:no-repeat;
    }
   .contact:before{
    background-image: url(../img/o-icons/Contactus.svg);
     background-repeat:no-repeat;
     }
  .pay:before{
    background-image: url(../img/o-icons/Revision.svg);
    background-repeat:no-repeat;
    }
  .del:before{
    background-image: url(../img/o-icons/feedback.svg);
    background-repeat:no-repeat;
    }
  .ad-order:before{
    background-image: url(../img/o-icons/Additionalorder.svg);
    background-repeat:no-repeat;
    }

}

  }
}