.discounts{
  background-color: $features;
  padding:35px 0;
  content: '';
  background-image: url(../img/i-cont.svg), url(../img/hiw.svg);
  background-repeat: no-repeat no-repeat;
  background-position: 56% -370px ,  90% 120%;
  background-size: 112% ,112%;

  .us-info{
  .welcome{
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    background-color: $readm-hover;
    .user{
      display: inline-flex;
      justify-content: flex-start;
      background-color: $readm-btn;
      color:$readm-hover;
      padding:10px 20px;
      font-family:$font-regular;
      font-size:20px;
    }
    .w-menu{
      display: inline-flex;
      justify-content: flex-end;
      color:$readm-btn;
      width:80%;

      ul{margin:0;}
      li{
        display: inline-block;
        margin-top:10px;
        &:last-child a{
          border-right:none;
        }
}
        a{
          text-transform: uppercase;
          font-family:$font-bold;
          font-size:20px;
          padding:0 12px;
          color:$readm-btn;
          border-right:2px solid $readm-btn;
          &:hover{
            text-decoration: none;
            background-color: $readm-btn;
            color:$readm-hover;
          }


        }

      }
    }
.account{
  padding:10px;
  border-bottom: 2px solid $readm-btn;
  span{
    padding:0 24px;
  }
}
  }


  //back & next nav
  .b-n{
    margin:10px 0 30px 0;
    .left{
      margin-top:10px;
      margin-left:10px;
      float:left;
      padding:10px;
      a{
        text-transform: uppercase;
        font-family:$font-bold;
        color:$readm-btn;
        font-size:20px;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          border: 10px solid transparent;
          border-right: 10px solid $readm-btn;
          top:4px;
          left:-24px;
        }
        &:hover{
          color:$bgColorPrimaryLight;
          text-decoration: none;
          &:before{
            border: 10px solid transparent;
            border-right: 10px solid $bgColorPrimaryLight;
          }
        }
      }
    }

    .right{
      margin-top:10px;
      margin-right:10px;
      float:right;
      padding:10px;
      a{
        text-transform: uppercase;
        font-family:$font-bold;
        color:$readm-btn;
        font-size:20px;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          border: 10px solid transparent;
          border-left: 10px solid $readm-btn;
          top:4px;
          right:-24px;
        }
        &:hover{
          color:$bgColorPrimaryLight;
          text-decoration: none;
          &:after{
            border: 10px solid transparent;
            border-left: 10px solid $bgColorPrimaryLight;
          }
        }
      }
    }

  }

  .order-details{
    margin:30px 0;
    .od-head{
      padding:10px 10px;
      background-color: $bgColorPrimaryLight;
      h3{
        padding-left:10px;
        margin:0;
        color:$readm-hover;
        text-transform: uppercase;
      }
    }
    .details-tab{
      margin-top:2px;
      display:flex;
      align-items: stretch;
      .left-tab{
        display: inline-block;
        width:46.4%;
        border:1px solid silver;
        background-color: $bgwhite;

        span{
          font-family:$font-bold;
          display: block;
          text-align: right;
          padding:5px 70px;
        }
      }
      .right-tab{
        margin-left:4px;
        display: inline-block;
        width:53.4%;
        border:1px solid silver;
        background-color: $bgwhite;
        span{
          font-family:$font-regular;
          display: block;
          text-align: left;
          padding:5px 70px;
        }

      }

    }



  }
  .od-content{
    border:1px solid silver;
    margin-top:2px;
    background-color: $bgwhite;
    span{
      display: inline-block;
      padding:20px;
    }
    .od-b{
      float:right;
      }

  }

}
