//FOOTER
.footer{
  background-color: $bgColorPrimaryDark;

    padding:25px 0;
    background-image: url(../img/foot.svg);
    background-repeat: no-repeat;
    background-position: 50% -56px;
    background-size: 113%;


  .footer-m{
    //overflow: hidden;
    //height:125px;
    ul{
      box-sizing: border-box;
      display: block;
      padding:0;
    }
    li{
      list-style: none;
      padding:0 5px;
      display: inline-block;
      width: 15.6%;

      a{
        color:$readm-hover;
        font-size:14px;
        &:hover{
          color:$bgColorPrimaryLight;
          text-decoration: none;
        }
      }
    }
  }

  .open-menu{
    text-align: center;
    position: relative;
    margin: 30px 0 15px 0;
    hr{
      border-top: 3px solid $readm-hover;
      margin: 0;
      position: absolute;
      display: block;
      width: 100%;
      top: 21px;
    }
    a{
      display: inline-block;
      width: 46px;
      height: 46px;
      border: 0.1em solid $readm-hover;
      font-size: 3em;
      border-radius: 50%;
      position: relative;
      background: $readm-hover;
      &:before{
        content: "";
        display: block;
        position: absolute;
        background-color: $bgColorPrimaryDark;
        width: 70%;
        height: 12%;
        left: 15%;
        top: 44%;
      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        background-color: $bgColorPrimaryDark;
        width: 12%;
        height: 70%;
        left: 44%;
        top: 15%;
      }
      &:hover{
        background: $bgColorPrimaryDark;
        &:before{background-color: $readm-hover;
          transition-duration: 0.5s;
          transform: rotate(45deg);}
        &:after{background-color: $readm-hover;
          transition-duration: 0.5s;
          transform: rotate(45deg);}

      }
    }
  }
.footer-menu{
  ul{
    text-align: center;
    li{
      display: inline-block;
      a{
        text-transform: uppercase;
        font-size:13px;
        color:$readm-hover;
        text-decoration: none;
        padding: 0px 9px;
        border-right: 3px solid $readm-hover;

        &:hover{
          color:$bgColorPrimaryLight;
        }
      }
      &:last-child a{
        border:none;
      }
    }
  }

}
  .terms{
    text-align: center;
    color:$readm-hover;
  }
  
}
