//HEAD
.head{
   background-image: url(../img/Bg1.svg);
  content: '';
  background-repeat: no-repeat;
  background-position:56% 34%;
  background-size: 112%;
   background-color: $bgColorPrimaryDark;
   padding:10px 0;

  span{
    @include font(20px,$readm-hover,normal,$font-thin)
    a{
      @include font(20px,$readm-hover,normal,$font-regular)
    text-decoration: none;
    }
  }
   span:last-child {
    display: inline-block;
    margin-left: 15px;}

  a.log-open{
      @include font(22px,$bgwhite,normal,$font-regular)
      text-decoration: none;
      text-transform: uppercase;
      padding-left:35px;
      &:hover{
        color:$bgColorPrimaryLight;
      }
      &:active{
        color:$bgColorPrimaryLight;
      }

  }

.head-login{float:right;}
}

.head-menu{
  background-color: $bgColorPrimaryLight;
  padding:5px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  .menu{
    text-align: center;
    ul{
      margin:0;
      padding:0;
    }
    li{
      text-transform: uppercase;
      display: inline-block;
      font-size:1.2rem;
      padding-left:10px;
      //border-right:2px solid $bgwhite;

      &:first-child{padding-left:0;}
      a{
        color:$bgwhite;
        padding:6px 14px;
        text-decoration: none;
        font-family: $font-regular;
        &:hover{
          background-color: $readm-hover;
          color:$bgColorPrimaryLight;
        }
      }
    }
  }
//  burger
  .menu2{
    text-align: center;
    ul{
      margin:0;
      padding:0;
    }
    li{
      text-transform: uppercase;
      display: block;
      font-size:1.2rem;
      padding-left:10px;
      //border-right:2px solid $bgwhite;

      &:first-child{padding-left:0;}
      a{
        color:$bgwhite;
        padding:6px 14px;
        text-decoration: none;
        font-family: $font-regular;
        &:hover{
          background-color: $readm-hover;
          color:$bgColorPrimaryLight;
        }
      }
    }
  }

//  burger
}

//AFTER HEAD

.head-after{
  background-image: url(../img/after-bg.png);
  background-position: 50%;
  height: 590px;
  background-color: $bg;
  .after-head-text{
    h1{
      box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.55);
      background-color: #caddea;
      text-align: center;
      padding: 15px 0;
      position: relative;
      display: block;
      &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: -16px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16px 19px 0 0;
        border-color: #caddea transparent transparent transparent;
      }
    }
    h3{
      padding:40px 0 25px;
    }
    li{list-style: none;}
    li:before{
      content: '\f111';
      font-size: 8px;
      font-family: FontAwesome;
      position: relative;
      bottom:2px;
      left:-15px;
      color:$bgColorPrimaryLight;
     }

    a.logo{
      display: block;
      background: url(../img/logo.png)no-repeat;
      width:100%;
      height:77px;
      padding:10px 0;
      margin:25px 0;
    }
  }
   .after-head-links{
    text-align: center;
   }

}


//INDEX FORM

.index-form{
  padding:30px 0;
  background-color: $readm-btn;
  content: '';
  background-image: url(../img/i-form.svg);
  background-repeat: no-repeat;
  background-position: 56% 41%;
  background-size: 112%;

  h2{
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2);
    background-color: #caddea;
    text-align: left;
    padding: 7px 15px;
    position: relative;
    display: block;
    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: -16px;
      left:0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 19px 0 0;
      border-color: #caddea transparent transparent transparent;
    }
    span{
      position: relative;
      float:right;
      font-size:22px;
      b{
        color:$order-btn;
        font-size:30px;
        padding-left:7px;
        position: relative;
        top:0px;
        left:-20px;
      }
      &:before{
        content: '';
        background-image: url(../img/Arrow.svg);
        width:50px;
        height:47px;
        display: block;
        position: absolute;
        left: -46px;
        top: -7px;
        background-repeat: no-repeat;
      }
    }
  }
}

////FORM FLEX
.form-flex{
padding:0 20px;
  margin-left:47px;
  .box{
    padding:0 20px;
    label{
      display: block;
    }
    select{
      width:91.5%;
      display: block;
      background-color: $input;
    }
    text-align: left;
    display: inline-block;
    width:32.3%;
    span{
      color: $input;
      text-transform: uppercase;
      b{
        padding:0 5px;
        font-size:30px;
        font-family:$font-bold;
      }
    }
  }
}
//INDEX CONTENT
.index-content {
  background-color: $features;
  padding:35px 0;
  content: '';
  background-image: url(../img/i-cont.svg);
  background-repeat: no-repeat;
  background-position: 57% -365px;
  background-size: 112%;

  h2 {
    font-family:$font-bold;
    box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
    background-color: $readm-hover;
    text-align: center;
    padding: 7px 15px;
    position: relative;
    display: block;
    margin-bottom:30px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 19px 0 0;
      border-color: $readm-hover transparent transparent transparent;
    }
  }
  p{
    margin-bottom:10px;
    font-family:$font-light;
  }
}

//FEATURES
.features{
  background-color: $features;
  padding-bottom:65px;
  .box{
    padding: 15px;
    min-height: 665px;
    position: relative;
    span{
      display: block;
      width:115px;
      height:115px;
      margin:15px auto 20px auto;
    }
    h4{
      text-transform: uppercase;
      text-align: center;
    }
    p{
      text-align: justify;
      font-family:Arial;
      font-size:15px;
    }
    a{
      display:block;
      text-align: center;
      position: absolute;
      bottom: 15px;
    }
    &:hover{
      background-color: $bgwhite;
      &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: -16px;
        left:0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16px 19px 0 0;
        border-color: $bgwhite transparent transparent transparent;
      }
    }
  }
  .box-1{
    span{
      background-image: url(../img/Element1.svg);
    }
    &:hover{
      span{
      background-image: url(../img/Element1_dark.svg);
      }
    }
  }

  .box-2{
    span{
      background-image: url(../img/Element2.svg);
    }
    &:hover{
      span{
        background-image: url(../img/Element2_dark.svg);
      }
    }
  }

  .box-3{
    span{
      background-image: url(../img/Element3.svg);
    }
    &:hover{
      span{
        background-image: url(../img/Element3_dark.svg);
      }
    }
  }

  .box-4{
    span{
      background-image: url(../img/Element4.svg);
    }
    &:hover{
      span{
        background-image: url(../img/Element4_dark.svg);
      }
    }
  }


}

//WHY
.why{
  background-color: $bgColorPrimaryLight;
  padding:30px 0;
  background-image: url(../img/why.svg);
  background-repeat: no-repeat;
  background-position: 56% 0;
  background-size: 112%;
  span{
    display: block;
    text-align: center;
    padding:10px 0;
    color:$readm-hover;
    font-family:$font-regular;
    font-size:20px;
  }
  .why-flex{
    display:flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    padding:30px 0;
    .con{
      width:257px;
      margin:10px;
      padding-bottom: 20px;
      border-bottom:3px solid $readm-hover;
      p{
        font-family:$font-medium;
        color:$readm-hover;
      }
    .num{
        position: relative;
        margin:20px 0;
        width:40px;
        height:40px;
        border-radius: 50%;
        background-color: $readm-hover;

      span{
        position: absolute;
        top:-12px;
        left:12px;
        font-weight:bold;
        color:$bgColorPrimaryLight;
        font-size:30px;
      }
    }
    }
  }
}

//HOW IT WORKS
.hiw{
  background-color: $features;
  padding:25px 0 68px 0;
  background-image: url(../img/hiw.svg);
  background-repeat: no-repeat;
  background-position: 56% 380px;
  background-size: 112%;

  .tabs-block{
    margin:20px 0;
    padding:25px 0;
  }

  #exTab1{
    width: 55%;
    float: left;
    padding-right: 0;

  }
  .nav{
    flex-direction: column;
    li{
      border-bottom:2px solid $readm-hover;
      position: relative;
    }
    a{
      display:block;
      padding:27px 10px 20px 50px;
      text-decoration: none;
      font-family:$font-bold;
      text-transform: uppercase;
      font-size:18px;
      color:$bgColorPrimaryLight;
      line-height: 15px;
      height:68px;
      &:hover{
        background-color: #eeeeee;
      }
      &:focus{
        background-color: $bgColorPrimaryLight;
        color:white;
        &:after{
          content: '';
          width: 0;
          height: 0;
          border-top: 34px solid transparent;
          border-bottom: 34px solid transparent;
          border-left: 25px solid $bgColorPrimaryLight;
          position: absolute;
          right: -25px;
          top: 0px;
        }
      }



    }
    span{
      color: #caddea;
      font-family: $font-regular;
      font-size: 50px;
      position: absolute;
      left: 9px;
      top: calc(15% - 13px);
      margin-right:10px;

    }
  }
  .tab-content {
    background-color : white;
    padding : 25px 45px;
    width: 45%;
    height:418px;
    overflow: hidden;
    float: right;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2);

  }
  .works{
    width:110px;
    height:110px;
    margin:0 auto;
  }
  .w1{background-image: url(../img/Works1.svg);}
  .w2{background-image: url(../img/Works2.svg);}
  .w3{background-image: url(../img/Works3.svg);}
  .w4{background-image: url(../img/Works4.svg);}
  .w5{background-image: url(../img/Works5.svg);}
  .w6{background-image: url(../img/Works6.svg);}

  p{margin-top:20px;}
.order{
  margin-top:70px;
  text-align: center;
  display: inline-block;
  width:100%;


  a{
    text-decoration: none;
  }

}

}


//PAYMENT
.payment{
  background-color: $readm-hover;
  padding:20px 0;
  .payment-block{
    span{
      display: inline-block;
      margin-right: 20px;
      width: 70px;
      height: 43px;
      background-repeat: no-repeat;
      &:nth-child(1){
          background-image: url(../img/pay/amex.svg);
        }
      &:nth-child(2){
        background-image: url(../img/pay/diners-club.svg);
      }
      &:nth-child(3){
        background-image: url(../img/pay/discover.svg);
      }
      &:nth-child(4){
          background-image: url(../img/pay/jcb.svg);
        }
      &:nth-child(5){
        background-image: url(../img/pay/mastercard.svg);
      }
      &:nth-child(6){
        background-image: url(../img/pay/paypal.svg);
      }
      &:nth-child(7){
        background-image: url(../img/pay/visa.svg);
      }
    }
  }
  .social-block{
    padding:10px 0;
    text-align: center;
    i{
      padding:0 15px;
    }
  }


}