//ORDER NOW PAGE
.order{
  background-color: $features;
  padding:35px 0;
  content: '';
  background-image: url(../img/i-cont.svg), url(../img/hiw.svg);
  background-repeat: no-repeat no-repeat;
  background-position: 56% -370px ,  90% 120%;
  background-size: 112% ,112%;
  h2 {
    font-family:$font-bold;
    box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
    background-color: $readm-hover;
    text-align: center;
    padding: 7px 15px;
    position: relative;
    display: block;
    margin-bottom:30px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 19px 0 0;
      border-color: $readm-hover transparent transparent transparent;
    }
  }

  .order-box{
    margin:20px 100px;
    .title{
      padding:10px 0;
      text-align: center;
      background-color: $readm-btn;
      h3{
        color:$readm-hover;
        text-transform: uppercase;
        margin:0;
      }
    }
    .content{
      background-color: $bgwhite;
      border:1px solid silver;
      padding:20px 0;
      box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
      .form-group{
        position: relative;
        label{
          display: block;
          margin:0 2.5%;
          font-size:12px;
          text-transform: none;
          color:$black;
          font-family:$font-bold;
          i{
            color:$order-btn;
          }
        }

        input{
          display: block;
          border:none;
          background-color:#e9f7fe;
          width:95%;
          margin:5px 2.5%;
          padding:5px;
        }
        input[type="checkbox"]{
          display:block;
          position: absolute;
          left:-46.5%;
          top:16px;
          outline:none;
        }
        select{
          display: block;
          width:95%;
          margin:5px 2.5%;
          padding:5px;
          border:none;
          background-color:#e9f7fe;
        }
        .form-check-label{
          padding-left:20px;
        }
        textarea{
          display: block;
          border:none;
          background-color:#e9f7fe;
          width:95%;
          margin:5px 2.5%;
          padding:5px;
          resize: none;

        }


      }

      .radioblock{
        margin:5px 2.5%;
      }

      .check{
        //margin:0;
      }

     .form-group2{
       margin:50px 0;
       position: relative;
       input{
         display: block;
         border:none;
         background-color:#e9f7fe;
         width:95%;
         margin:5px 2.5%;
         padding:5px;
       }
       label{
         display: block;
         margin:0 2.5%;
         font-size:12px;
         text-transform: none;
         color:$black;
         font-family:$font-bold;
       }
       .left{
         width:49%;
         float:left;
         padding:5px  10px;
         a{
           text-align: center;
         }
       }
       .right{
         width:49%;
         float:right;
         padding:5px 10px;
       }
     }

      .red-text{
        padding:70px 20px 20px 20px;
        p{
          position: relative;
          padding-left:5%;
          margin-top:20px;
          color:$order-btn;
          font-family:$font-bold;
          font-size:12px;
          &:before{
            content: '\f00d';
            position: absolute;
            color:$order-btn;
            font-family:$fontawesome;
            font-size:22px;
            left:5px;
          }
        }
      }

    }


    .vip{
      margin:30px 0;
      background-color: $bgColorPrimaryLight;
      box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
      //height:400px;
      h3{padding-top:10px;
        color:$readm-hover;
        text-transform: uppercase;
        margin:0;
        text-align: center;
      }
      .vip-in{
        margin:20px;
        padding:10px 0;
        background-color:$bgwhite;
        .img{
          display: inline-block;
          width:112px;
          height:120px;
          background-image: url(../img/vip.jpg);
          margin:20px 40px;
        }
        .vip-add{
          display: inline-block;
        }
      }
      .total{
        background-color: $bgwhite;
        padding:20px 0;


      }
    }


  }



}