.single-page{
  background-color: $features;
  content: '';
  background-image:  url(../img/hiw.svg);
  background-repeat: no-repeat;
  background-position:56% -42%;
  background-size: 112%;
  .post{
    box-shadow: 2px 4px 7px rgba(167, 192, 200, 0.7);
    background-color: $bgwhite;
    margin-top:80px;
    margin-bottom:30px;
    padding:30px;
    h2{
      text-align: center;
    }
    hr{
      background-color: $bgColorPrimaryLight;
      padding:0 30px;
    }
    h3{
      text-transform: uppercase;
    }
  .post-img{
    text-align: center;
    position: relative;
    img{
      box-shadow: 2px 4px 7px rgba(167, 192, 200, 0.7);
      vertical-align: middle;
      width: 800px;
      height: 600px;
      box-sizing: border-box;
      margin-top: -90px;
      padding-bottom: 50px;
      position: relative;
    }
    .social-block{
      position: absolute;
      left: 38px;
      bottom: 150px;
      width: 65px;
      text-align: left;
      a{
        display: block;
        text-align: left;
        padding:10px;
        color:$bgColorPrimaryLight;
        &:hover{
          color:$bgColorPrimaryDark;
        }
      }
    }

    .tags{
      position: absolute;
      right: -11px;
      bottom:130px;
      width: 120px;
      text-align: center;
      a {
        color: $bgColorPrimaryLight;
        font-family:$font-bold;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        display:inline-block;
        margin: 2px;
        background-color: $readm-hover;
        padding: 4px 10px;
        &:hover {
          color: $readm-hover;
          background-color: $bgColorPrimaryLight;
          text-decoration: none;
        }
      }
      .date{
        color: #a6cae3;
        font-size: 22px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
      }
    }


  }

  }
}