//text
.text {
  background-color: $bgColorPrimaryLight;
  padding:35px 0;
  content: '';
  background-image: url(../img/why.svg);
  background-repeat: no-repeat;
  background-position: 41% -265px;
  background-size: 112%;

  h2 {
    font-family:$font-bold;
    box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
    background-color: $readm-hover;
    text-align: center;
    padding: 7px 15px;
    position: relative;
    display: block;
    margin-bottom:30px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 19px 0 0;
      border-color: $readm-hover transparent transparent transparent;
    }
  }
  p{
    margin-bottom:10px;
    font-family:$font-light;
    color:$readm-hover;
  }
}
.text-mid{
  background-color:$features;
.box{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  margin:20px 0;

  .li{
  margin:20px 0;
  position: relative;
  padding:20px;
  background-color: $bgwhite;
  box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
  &:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    left:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 19px 0 0;
    border-color: $bgwhite transparent transparent transparent;
  }
  h3{
    text-transform: uppercase;
  }
}
  .banner-s{
    background-color:$readm-btn;
    width:55%;
    height:auto;
    margin-bottom:20px;
    background-image: url(../img/banner-l.png),url(../img/banner-r.png);
    background-repeat: no-repeat no-repeat;
    background-position: 650% 0 , -650% 0 ;
    background-size: 112% 112%;
    h1{
      padding:50px 0;
      text-align: center;
      color:$bgwhite;
      font-family: $font-regular;
    }
  }
  .banner-l{
    background-color:$readm-btn;
    width:80%;
    height:auto;
    margin-bottom:20px;
    background-image: url(../img/banner-l.png),url(../img/banner-r.png);
    background-repeat: no-repeat no-repeat;
    background-position: 650% 0 , -650% 0 ;
    background-size: 112% 112%;
    h1{
      padding:15px 0;
      text-align: center;
      color:$bgwhite;
      font-family: $font-regular;
    }
  }


}

  .faq{
    margin:20px 0;
    width:100%;
    h2 {
      width:100%;
      font-family:$font-bold;
      box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
      background-color: $readm-hover;
      text-align: center;
      padding: 7px 15px;
      position: relative;
      display: block;
      margin-bottom:30px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -16px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16px 19px 0 0;
        border-color: $readm-hover transparent transparent transparent;
      }
    }
    h3{
      text-transform: uppercase;
    }
    li{
      list-style: none;
      position: relative;
      padding:5px 0;
      &:before{
        content: '\f054';
        font-family:$fontawesome;
        position: absolute;
        top:8px;
        left:-22px;
        color:$bgColorPrimaryLight;
      }
      a{color:$bgColorPrimaryLight;}
      .faq-li{
          margin: 20px 0;
          position: relative;
          padding: 20px;
          background-color: $bgwhite;
          box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -16px;
            border-style: solid;
            left:0;
            border-width: 16px 19px 0 0;
            border-color: $bgwhite transparent transparent transparent;
          }
      }
    }
    
  }

  .table{
    margin: 20px 0;

    .calc{
      margin: 20px 0;
      border:1px solid silver;
      box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
      .calc-h{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $bgColorPrimaryLight;
        padding:10px;
        .form-group{
          display: inline-block;
          width:30%;
          &:nth-child(2){
            width:45%;
          }
          &:last-child{
            width:12%;
            margin-top:10px;
          }
          select{
            width:100%;
          }
          margin:0 20px;
        }
      }
      .content{
        background-color: $bgwhite;
        table{
          margin:0;
          text-align: center;
          thead{
            th{
              text-transform: uppercase;
            }
          }
          td{
            color:$bgColorPrimaryLight;
          }
        }

      }
    }
  }


  .contact-form{
    background-color: $bgwhite;
   .title{
     padding:10px 20px;
     background-color: $bgColorPrimaryLight;
     h3{
       color:$bgwhite;
     }
   }
    .form{
      margin:10px;
      padding:20px 30px;
      label{display:block;
      color:$bgColorPrimaryLight;}
      input{
        width:100%;
        display:block;
        border:none;
        background-color: $input;
        margin-bottom: 10px;
        padding:5px;
      }
      .center{
        margin-bottom:20px;
        .left{
          display: inline-block;
          width:45%;
        }
        .right{
          display: inline-block;
          width:45%;
          float:right;
          textarea{
            width:100%;
            border:none;
            background-color: $input;
            height:185px;
            resize: none;
          }
        }
      }
      .a{
        display: block;
        text-align: right;
        margin-bottom:10px;
        a[type="submit"]{
          color:$bgwhite;
          border:none;
          appearance:none;
        }
      }
    }
  }
}

.blu-table{
  margin:40px 0;
  thead{
    th{
      background-color: $bgColorPrimaryLight;
      color:$readm-hover;
    }

  }
}

.odd{
  background-color: #e3f3fb;}
.even{
  background-color:#f0f8fd;}
.slider{
  margin-bottom:50px;
  .slide-in{
    .left{
      width:48%;
      float:left;
      display: inline-block;
      margin: 20px 0;
      position: relative;
      padding: 20px;
      background-color: $bgwhite;
      box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -16px;
        border-style: solid;
        left:0;
        border-width: 16px 19px 0 0;
        border-color: $bgwhite transparent transparent transparent;
      }
    }
    .right{
      width:48%;
      float:right;
      display: inline-block;
      margin: 20px 0;
      position: relative;
      padding: 20px;
      background-color: $bgwhite;
      box-shadow: 2px 4px 7px rgba(150, 150, 150, 0.2);
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -16px;
        border-style: solid;
        left:0;
        border-width: 16px 19px 0 0;
        border-color: $bgwhite transparent transparent transparent;
      }

    }
  }
  .carousel-indicators{
    top:250px;
  }
  .carousel-indicators li{
    background-color: $bgColorPrimaryLight;
    border:4px solid $features;
    border-radius:50%;
    width:20px;
    height:20px;
  }
  .carousel-indicators li.active{
    background-color:transparent;
    border:3px solid $bgColorPrimaryLight;
    border-radius:50%;
    width:20px;
    height:20px;
  }

}