<!--HEAD-->
<div class="head">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                <div class="head-contact">
                    <span>Sales toll free: <a href="tel:+18778940925">1 (877) 894-0925</a></span>
                    <span>Support toll free: <a href="tel:+18889018317">1 (888) 901-8317</a></span>
                </div>
            </div>

            <div class="d-xl-block d-lg-block d-md-none d-sm-none d-none col-md-4 col-lg-5">
                <div class="head-login">
                    <a class="log-open login" href="/login/">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    <a class="log-open chat" >LIVE CHAT<i class="fa fa-comments" aria-hidden="true"></i></a>
                </div>
            </div>

        </div><!--row-->
    </div><!--container-->
</div><!--HEAD-->

<!--HEAD MENU-->
<div class="head-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--burger-->
                <div class="pos-f-t  d-lg-none d-xl-none">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-dark p-4">
                            <div class="menu2">
                                <ul>
                                    <li class="menu-item"><a href="index.html">home</a></li>
                                    <li class="menu-item"><a href="text.html">about us </a> </li>
                                    <li class="menu-item"><a href="discounts2.html">prices </a> </li>
                                    <li class="menu-item"><a href="discounts.html">discounts </a> </li>
                                    <li class="menu-item"><a href="order.html">guarantees </a> </li>
                                    <li class="menu-item"><a href="404.html">faq </a> </li>
                                    <li class="menu-item"><a href="#">beware </a> </li>
                                    <li class="menu-item"><a href="#">contact us </a></li>
                                    <li class="menu-item"><a href="#">blog </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                </div>

                <!--burger-->
                <div class="menu  d-xl-block d-lg-block d-md-none d-sm-none d-none">

                    <ul>
                        <li class="menu-item"><a href="index.html">home</a></li>
                        <li class="menu-item"><a href="text.html">about us </a> </li>
                        <li class="menu-item"><a href="discounts2.html">prices </a> </li>
                        <li class="menu-item"><a href="discounts.html">discounts </a> </li>
                        <li class="menu-item"><a href="order.html">guarantees </a> </li>
                        <li class="menu-item"><a href="404.html">faq </a> </li>
                        <li class="menu-item"><a href="#">beware </a> </li>
                        <li class="menu-item"><a href="#">contact us </a></li>
                        <li class="menu-item"><a href="#">blog </a></li>
                    </ul>
                </div><!--head menu-->
            </div>
        </div><!--row-->
    </div><!--container-->

</div><!--HEAD MENU-->

<div class="fall">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="logo">
                    <a href="index.html"><img src="../img/logo404.png" alt=""></a>
                    <div class="grats">
                        <span><b>Grats.</b> You broke it.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="broke1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="broke2"></div>
            </div>
            <div class="col-md-8">
                <div class="num">
                    <span>404</span>
                </div>
                <div class="buttons">
                    <a href="index.html" class="od-btn">Go back</a>
                    <a href="index.html" class="od-btn">homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
