<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Blog</h2>

            </div>
        </div>
    </div>

</div>

<div class="blog-blox">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="blog-blocks">
                    <h4 class="title">Categories</h4>
                    <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i> Academic</a>
                    <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i> Informative</a>
                    <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i> Literary</a>
                    <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i> Tips for Students</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="last">
                    <div class="faq-li">
                    <h4>last posts</h4>
                    <ul>
                        <li><a href="#">The Biggest and Newest Features Recently Announced by Apple A S</a></li>
                        <li><a href="#">The Biggest and Newest Features Recently Announced by Apple A S</a></li>
                        <li><a href="#">The Biggest and Newest Features Recently Announced by Apple A S</a></li>
                        <li><a href="#">The Biggest and Newest Features Recently Announced by Apple A S</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="tags">
                <h4 class="title">Related tags</h4>
                    <div class="tag">
                    <a href="#">Technology</a>
                    <a href="#">Internet</a>
                    <a href="#">Business</a>
                    <a href="#">Tips</a>
                    <a href="#">Essay</a>
                    <a href="#">Study</a>
                    <a href="#">Books</a>
                    <a href="#">Reading</a>
                    <a href="#">Tips</a>
                    </div>

                    <h4 class="title">Arhive</h4>
                </div>
            </div>
        </div><!--Row-->

        <div class="blog-container">

        <div class="row pad ">
            <div class="col-md-12">
                <div class="blog-content">
                    <div class="post-content">
                        <img src="../img/blog1.png" alt="" class="l">
                        <h3>The Biggest and Newest Features Recently Announced by Apple</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias
                            aliquam animi asperiores aspernatur debitis eius ex facere, iure, iusto
                            laudantium minus neque nesciunt nobis porro qui rerum vitae, voluptates!</p>
                        <div class="line"></div>
                        <div class="date">June 21, 2017</div>
                        <div class="read-m">
                            <p> <a href="#">Technology</a>
                                <a href="#">Internet</a>
                                <a href="#">Business</a>
                                <a href="#" class="rm">Read more<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div><!--Row-->

        <div class="row pad ">
            <div class="col-md-12">
                <div class="blog-content">
                    <div class="post-content right">
                        <img src="../img/blog2.png" alt="" class="r">
                        <h3>The Biggest and Newest Features Recently Announced by Apple</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias
                            aliquam animi asperiores aspernatur debitis eius ex facere, iure, iusto
                            laudantium minus neque nesciunt nobis porro qui rerum vitae, voluptates!</p>
                        <div class="line"></div>
                        <div class="date">June 21, 2017</div>
                        <div class="read-m">
                            <p> <a href="#">Technology</a>
                                <a href="#">Internet</a>
                                <a href="#">Business</a>
                                <a href="#" class="rm">Read more<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div><!--Row-->

            <div class="row pad ">
                <div class="col-md-12">
                    <div class="blog-content">
                        <div class="post-content">
                            <img src="../img/blog3.png" alt="" class="l">
                            <h3>The Biggest and Newest Features Recently Announced by Apple</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias
                                aliquam animi asperiores aspernatur debitis eius ex facere, iure, iusto
                                laudantium minus neque nesciunt nobis porro qui rerum vitae, voluptates!</p>
                            <div class="line"></div>
                            <div class="date">June 21, 2017</div>
                            <div class="read-m">
                                <p> <a href="#">Technology</a>
                                    <a href="#">Internet</a>
                                    <a href="#">Business</a>
                                    <a href="#" class="rm">Read more<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
            </div><!--Row-->

            <div class="row pad ">
                <div class="col-md-12">
                    <div class="blog-content">
                        <div class="post-content right">
                            <img src="../img/blog4.png" alt="" class="r">
                            <h3>The Biggest and Newest Features Recently Announced by Apple</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias
                                aliquam animi asperiores aspernatur debitis eius ex facere, iure, iusto
                                laudantium minus neque nesciunt nobis porro qui rerum vitae, voluptates!</p>
                            <div class="line"></div>
                            <div class="date">June 21, 2017</div>
                            <div class="read-m">
                                <p> <a href="#">Technology</a>
                                    <a href="#">Internet</a>
                                    <a href="#">Business</a>
                                    <a href="#" class="rm">Read more<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
            </div><!--Row-->




        </div>
        <!--Blog container-->

        <!--Pagination-->
        <div class="row">
            <div class="col-md-12">
                <div class="paginator">
                    <a class="page" rel="prev" href="#">«</a>
                    <a class="page" title="Page 1" href="#">1</a>
                    <a class="page" title="Page 2" href="#">2</a>
                    <a class="page" title="Page 3" href="#">3</a>
                    <a class="page" rel="next" href="#">»</a>
                </div>

            </div>
        </div><!--Row-->

    </div><!--container-->
</div>
