<div class="discounts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="us-info">
               <div class="welcome">
                   <div class="user">
                    <span>Welcome , User Test</span>
                   </div><!--user-->
                   <!--burger-->
                   <div class="pos-f-t  d-lg-none d-xl-none">
                       <div class="collapse" id="navbarSecond">
                           <div class="bg-light p-4">
                               <div class="menu3">
                                   <ul>
                                       <li> <a href="#">My orders</a></li>
                                       <li> <a href="#">my account</a></li>
                                       <li> <a href="#">referral program</a></li>
                                       <li> <a href="#">logout</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <nav class="navbar navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSecond" aria-controls="navbarSecond" aria-expanded="false" aria-label="Toggle navigation">
                               <span class="navbar-toggler-icon"></span>
                           </button>
                       </nav>
                   </div>

                   <!--burger-->
                <div class="w-menu d-md-none d-sm-none d-none d-lg-flex d-xl-flex">
                    <ul>
                        <li> <a href="#">My orders</a></li>
                        <li> <a href="#">my account</a></li>
                        <li> <a href="#">referral program</a></li>
                        <li> <a href="#">logout</a></li>
                    </ul>
                </div><!--w-menu-->
              </div><!--welcome-->
                <div class="account">
                    <span><b>Account type:</b>standart</span>
                    <span><b>New Message:</b>1<i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <span><b>Bonus Points:</b>0 $</span>
                    <span><b>Discount:</b>useruser@gmail.com</span>
                    <span><b>Discount:</b>0 % [Up to 15 %]</span>

                </div>
                </div>
            </div>
        </div><!--row-->

        <div class="row">
            <div class="col-md-12">
                <div class="b-n">
                    <span class="left"><a href="#">Back</a></span>
                    <span class="right"><a href="#">next</a></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
              <div class="order-details">
                <div class="od-head">
                    <h3>order details</h3>
                </div>
                  <div class="details-tab">
                      <div class="left-tab">
                          <span>Order ID</span>
                          <span>Subject</span>
                          <span>Topic</span>
                          <span>Type of assignment</span>
                          <span>Urgency</span>
                          <span>Writer level</span>
                          <span>Style</span>
                          <span>Sources</span>
                          <span>Language</span>
                          <span>Description</span>
                          <span>Added</span>
                          <span>Delivery</span>
                          <span>Free revisions till</span>
                          <span>Spacing</span>
                          <span>Page price</span>
                          <span>Pages</span>
                          <span>Additional services</span>
                          <span>Discount</span>
                          <span>Price</span>
                          <span>Payment details</span>
                          <span>Writer ID</span>
                          <span>Order status</span>

                      </div>
                      <div class="right-tab">
                          <span>1133087166</span>
                          <span>test</span>
                          <span>Essay</span>
                          <span>11 days</span>
                          <span>High School</span>
                          <span>Writer level</span>
                          <span>APA</span>
                          <span>12</span>
                          <span>English(U.S.)</span>
                          <span>Description</span>
                          <span>Added</span>
                          <span>Delivery</span>
                          <span>Free revisions till</span>
                          <span>Spacing</span>
                          <span>!</span>
                          <span>!</span>
                          <span>Additional services</span>
                          <span>Discount</span>
                          <span>Price</span>
                          <span>Payment details</span>
                          <span>Writer ID</span>
                          <span>Order status</span>

                      </div>
                  </div>

            </div>
          </div>
        </div>

        <div class="row">
        <div class="col-md-12">
            <div class="order-details">
                <div class="od-head">
                    <h3>Files</h3>
                </div>
                <div class="od-content">
                    <span>No files found</span><span class="od-b"><a class="od-btn" href="#">Upload file</a></span>
                </div>
            </div>
        </div>
    </div>


        <div class="row">
            <div class="col-md-12">
                <div class="order-details">
                    <div class="od-head">
                        <h3>Messages</h3>
                    </div>
                    <div class="od-content">
                        <span>No messages found</span><span class="od-b"><a class="od-btn" href="#">Send message</a></span>
                    </div>
                </div>
            </div>
        </div>




    </div><!--container-->
</div><!--discounts-->
