<div class="discounts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="us-info">
                    <div class="welcome">
                        <div class="user">
                            <span>Welcome , User Test</span>
                        </div><!--user-->
                        <div class="w-menu">
                            <ul>
                                <li> <a href="#">My orders</a></li>
                                <li> <a href="#">my account</a></li>
                                <li> <a href="#">referral program</a></li>
                                <li> <a href="#">logout</a></li>
                            </ul>
                        </div><!--w-menu-->
                    </div><!--welcome-->
                    <div class="account">
                        <span><b>Account type:</b>standart</span>
                        <span><b>New Message:</b>1<i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span><b>Bonus Points:</b>0 $</span>
                        <span><b>Discount:</b>useruser@gmail.com</span>
                        <span><b>Discount:</b>0 % [Up to 15 %]</span>

                    </div>
                </div>
            </div>
        </div><!--row-->
    </div>
</div>
<!--Discounts 2-->
<div class="dis2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="box">
                <h3>new messages</h3>

                <div class="inside">
                <div class="box-in">
                    <div class="up">
                     <span>order id</span>
                    </div>
                    <div class="down">
                          <span>6176835139</span>
                    </div>
                </div><!--box-in-->

                <div class="box-in">
                    <div class="up">
                        <span>Title / topic</span>
                    </div>
                    <div class="down">
                        <span>test</span>
                    </div>
                </div><!--box-in-->

                <div class="box-in">
                    <div class="up">
                        <span>Messages / new messages</span>
                    </div>
                    <div class="down">
                        <span><i class="fa fa-envelope" aria-hidden="true"></i>2 / <b>2</b> </span>
                    </div>
                </div><!--box-in-->
                </div>

            </div><!--box-->

                <!--Second box-->
                <div class="box">
                    <h3>processing orders {h3}</h3>

                    <div class="inside">
                        <div class="box-in">
                            <div class="up">
                                <span>Date</span>
                            </div>
                            <div class="down">
                                <span>6176835139</span>
                            </div>
                        </div><!--box-in-->

                        <div class="box-in">
                            <div class="up">
                                <span>order id</span>
                            </div>
                            <div class="down">
                                <span>test</span>
                            </div>
                        </div><!--box-in-->

                        <div class="box-in">
                            <div class="up">
                                <span>Title / topic</span>
                            </div>
                            <div class="down">
                                <span><i class="fa fa-envelope" aria-hidden="true"></i>2 / <b>2</b> </span>
                            </div>
                        </div><!--box-in-->
                        <div class="box-in">
                            <div class="up">
                                <span>Title / topic</span>
                            </div>
                            <div class="down">
                                <span><i class="fa fa-envelope" aria-hidden="true"></i>2 / <b>2</b> </span>
                            </div>
                        </div><!--box-in-->

                    </div>
                    <div class="links">
                        <span class="inf" >Order details</span>
                        <span class="files">Files (0)</span>
                        <span class="envelope">Messages (0/0)</span>
                        <span class="contact">Contact us</span>
                        <span class="pay">$  Pay now</span>
                        <span class="del">Delete order</span>
                        <span class="ad-order">Additional order</span>
                    </div>

                </div><!--box-->

                <!--Third box-->
                <div class="box">
                    <div class="inside">
                        <div class="box-in">
                            <div class="up">
                                <span>Date</span>
                            </div>
                            <div class="down">
                                <span>6176835139</span>
                            </div>
                        </div><!--box-in-->

                        <div class="box-in">
                            <div class="up">
                                <span>order id</span>
                            </div>
                            <div class="down">
                                <span>test</span>
                            </div>
                        </div><!--box-in-->

                        <div class="box-in">
                            <div class="up">
                                <span>Title / topic</span>
                            </div>
                            <div class="down">
                                <span><i class="fa fa-envelope" aria-hidden="true"></i>2 / <b>2</b> </span>
                            </div>
                        </div><!--box-in-->
                        <div class="box-in">
                            <div class="up">
                                <span>Title / topic</span>
                            </div>
                            <div class="down">
                                <span><i class="fa fa-envelope" aria-hidden="true"></i>2 / <b>2</b> </span>
                            </div>
                        </div><!--box-in-->

                    </div>
                    <div class="links">
                        <span class="inf" >Order details</span>
                        <span class="files">Files (0)</span>
                        <span class="envelope">Messages (0/0)</span>
                        <span class="contact">Contact us</span>
                        <span class="ad-order">Additional order</span>
                    </div>

                </div><!--box-->

                <!--4-th box-->

                <div class="box">
                    <h3>completed orders</h3>

                    <div class="inside">
                        <div class="box-in">
                            <div class="up">
                                <span>order id</span>
                            </div>
                            <div class="down">
                                <span>6176835139</span>
                            </div>
                        </div><!--box-in-->

                        <div class="box-in">
                            <div class="up">
                                <span>Title / topic</span>
                            </div>
                            <div class="down">
                                <span>test</span>
                            </div>
                        </div><!--box-in-->

                        <div class="box-in">
                            <div class="up">
                                <span>Title / topic</span>
                            </div>
                            <div class="down">
                                <span>test</span>
                            </div>
                        </div><!--box-in-->

                        <div class="box-in">
                            <div class="up">
                                <span>Title / topic</span>
                            </div>
                            <div class="down">
                                <span>test</span>
                            </div>
                        </div><!--box-in-->

                        <div class="box-in">
                            <div class="up">
                                <span>Title / topic</span>
                            </div>
                            <div class="down">
                                <span>test</span>
                            </div>
                        </div><!--box-in-->

                    </div>

                    <div class="links">
                        <span class="inf" >Order details</span>
                        <span class="files">Files (0)</span>
                        <span class="envelope">Messages (0/0)</span>
                        <span class="contact">Contact us</span>
                        <span class="pay">$  Pay now</span>
                        <span class="del">Delete order</span>
                        <span class="ad-order">Additional order</span>
                    </div>
                </div><!--box-->




            </div>
        </div><!--row-->
    </div>
</div>
<!--Discounts 2-->