<!--FOOTER SECTION-->

<!--PAYMENT-->
<div class="payment">
    <div class="container">
        <div class="row">

            <div class="col-sm-9 col-md-8">
                <div class="payment-block">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="col-sm-3 col-md-4">
                <div class="social-block">
                    <a href="https://www.facebook.com"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                    <a href="https://twitter.com"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.pinterest.com"><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>

        </div><!--row-->
    </div><!--container-->
</div><!--payment-->
<div class="footer">

      <div class="container">

        <div class="row">
           <div class="col-md-12">
             <div  class="footer-m">
                 <ul>
                     <li><a href="#">Site map</a></li>
                     <li><a href="#">Free essays</a></li>
                     <li><a href="#">Custom Research</a></li>
                     <li><a href="#">Papers</a></li>
                     <li><a href="#">Custom Term Paper</a></li>
                     <li><a href="#">Writing Service</a></li>
                     <li><a href="#">Custom Writing</a></li>
                     <li><a href="#">Custom Writing</a></li>
                     <li><a href="#">Services</a></li>
                     <li><a href="#">Do My Paper</a></li>
                     <li><a href="#">Editing Service</a></li>
                     <li><a href="#">Essay Buy</a></li>
                     <li><a href="#">Essay Editing</a> </li>
                     <li><a href="#">Essay Help</a></li>
                     <li><a href="#">Essay Online</a></li>
                     <li><a href="#">Essay Order</a></li>
                     <li><a href="#">Essay Paper</a></li>
                     <li><a href="#">Essay Papers to Buy</a></li>
                     <li><a href="#">Essay Service</a></li>
                     <li><a href="#">Essay Writer</a></li>
                     <li><a href="#">Essay Writing</a></li>
                     <li><a href="#">Essay Writing Service</a></li>
                     <li><a href="#">Essay Writing Services</a></li>
                     <li><a href="#">Essay Writing Online</a></li>
                     <li><a href="#">Essays Buy</a></li>
                     <li><a href="#">Essays for Sale</a></li>
                     <li><a href="#">Essays Order</a></li>
                     <li><a href="#">Essays to Buy</a> </li>
                     <li><a href="#">Essays Written</a></li>
                     <li><a href="#">Formatting Service</a></li>
                     <li><a href="#">Freelance Essay</a></li>
                     <li><a href="#">Writing</a></li>
                     <li><a href="#">Grant Writing</a> </li>
                     <li><a href="#">How to Buy an Essay</a></li>
                     <li><a href="#">Non - Plagiarized Essay</a></li>
                     <li><a href="#">Online Essay</a></li>
                     <li><a href="#">Online Term Paper</a></li>
                     <li><a href="#">Online Writing</a></li>
                     <li><a href="#">Order an Essay</a></li>
                     <li><a href="#">Order Custom Essay</a></li>
                     <li><a href="#">Order Custom Paper</a></li>
                     <li><a href="#">Order Essay</a></li>
                     <li><a href="#">Order Essays</a></li>
                     <li><a href="#">Original Essay</a></li>
                     <li><a href="#">Paper Service</a></li>
                     <li><a href="#">Paper Writer</a></li>
                     <li><a href="#">Paper Writing</a></li>
                     <li><a href="#">Paper Writing Service</a></li>
                     <li><a href="#">Personal Narrative</a></li>
                     <li><a href="#">Essay</a></li>
                     <li><a href="#">Academic Essays</a></li>
                     <li><a href="#">Writers</a></li>
                     <li><a href="#">Buy Cheap Essay</a></li>
                     <li><a href="#">Buy Custom</a></li>
                 </ul>

             </div>

               <div class="open-menu">
                   <hr>
                   <a  class="foo-btnf"></a>
               </div>

           </div>
        </div><!--row-->

          <div class="row">
              <div class="col-md-12">
                  <div class="footer-menu">
                      <ul>
                          <li><a href="#">business</a></li>
                          <li><a href="#">economics</a></li>
                          <li><a href="#">informative</a></li>
                          <li><a href="#">literature</a></li>
                          <li><a href="#">management</a></li>
                          <li><a href="#">political</a></li>
                          <li><a href="#">psyhology</a></li>
                          <li><a href="#">research</a></li>
                          <li><a href="#">rewiew</a></li>
                          <li><a href="#">technology</a></li>
                      </ul>

                  </div>
              </div>

          </div><!--row-->

          <div class="row">
              <div class="col-md-12">
                  <div class="terms">Terms and Conditions Privacy Policy</div>
              </div>


          </div><!--row-->

      </div><!--container-->

</div><!--footer-->

<!--SOME JAVASCRIPT -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


<script src="js/main.js"></script>
</body>

</html>