<!--HEAD-->
<div class="head">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                <div class="head-contact">
                    <span>Sales toll free: <a href="tel:+18778940925">1 (877) 894-0925</a></span>
                    <span>Support toll free: <a href="tel:+18889018317">1 (888) 901-8317</a></span>
                </div>
            </div>

            <div class="d-xl-block d-lg-block d-md-none d-sm-none d-none col-md-4 col-lg-5">
                <div class="head-login">
                    <a class="log-open login" href="/login/">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    <a class="log-open chat" >LIVE CHAT<i class="fa fa-comments" aria-hidden="true"></i></a>
                </div>
            </div>

        </div><!--row-->
    </div><!--container-->
</div><!--HEAD-->

<!--HEAD MENU-->
<div class="head-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--burger-->
                <div class="pos-f-t  d-lg-none d-xl-none">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-dark p-4">
                            <div class="menu2">
                                <ul>
                                    <li class="menu-item"><a href="index.html">home</a></li>
                                    <li class="menu-item"><a href="text.html">about us </a> </li>
                                    <li class="menu-item"><a href="discounts2.html">prices </a> </li>
                                    <li class="menu-item"><a href="discounts.html">discounts </a> </li>
                                    <li class="menu-item"><a href="order.html">guarantees </a> </li>
                                    <li class="menu-item"><a href="404.html">faq </a> </li>
                                    <li class="menu-item"><a href="#">beware </a> </li>
                                    <li class="menu-item"><a href="#">contact us </a></li>
                                    <li class="menu-item"><a href="#">blog </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                </div>

                <!--burger-->
                <div class="menu  d-xl-block d-lg-block d-md-none d-sm-none d-none">

                    <ul>
                        <li class="menu-item"><a href="index.html">home</a></li>
                        <li class="menu-item"><a href="text.html">about us </a> </li>
                        <li class="menu-item"><a href="discounts2.html">prices </a> </li>
                        <li class="menu-item"><a href="discounts.html">discounts </a> </li>
                        <li class="menu-item"><a href="order.html">guarantees </a> </li>
                        <li class="menu-item"><a href="404.html">faq </a> </li>
                        <li class="menu-item"><a href="#">beware </a> </li>
                        <li class="menu-item"><a href="#">contact us </a></li>
                        <li class="menu-item"><a href="#">blog </a></li>
                    </ul>
                </div><!--head menu-->
            </div>
        </div><!--row-->
    </div><!--container-->

</div><!--HEAD MENU-->

<!--HEAD AFTER-->
<div class="head-after">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-6 col-xl-6">
                <div class="after-head-text">
                    <a class="logo" href="/"></a>
                    <h1>Things go Better with Us!</h1>
                    <h3>What we offer you:</h3>
                    <ul>
                        <li>A dedicated writer who is qualified in your field</li>
                        <li>Your subject matter analyzed, researched, referenced and written as you instruct</li>
                        <li>Papers tested for plagiarism using top-notch plagiarism software</li>
                        <li>A flawless end product in terms of style and grammar</li>
                    </ul>

                </div>
            </div>
        </div><!--row-->
    </div><!--container-->
</div><!--HEAD AFTER-->

<!--INDEX FORM-->
<div class="index-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form-block">
                    <div class="after-head">
                        <a href="#" class="h"><span>Essays &amp; Research Papers</span></a>
                        <a href="#" class="h"><span>Dissertations &amp; Theses</span></a>
                        <a href="#" class="h"><span>Resumes &amp; CVs</span></a>
                        <a href="#" class="h"><span>Editing &amp; Proofreading</span></a>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="order-head">
                    <a href="#" class="order-btn">order now</a>
                </div>
            </div>

        </div><!--row-->
    </div><!--container-->
</div><!--Index form-->
