<!--HEAD-->
<div class="head">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-7">
              <div class="head-contact">
                  <span>Sales toll free: <a href="tel:+18778940925">1 (877) 894-0925</a></span>
                  <span>Support toll free: <a href="tel:+18889018317">1 (888) 901-8317</a></span>
              </div>
          </div>

          <div class="d-xl-block d-lg-block d-md-none d-sm-none d-none col-md-4 col-lg-5">
              <div class="head-login">
                  <a class="log-open login" href="/login/">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                  <a class="log-open chat" >LIVE CHAT<i class="fa fa-comments" aria-hidden="true"></i></a>
              </div>
          </div>

      </div><!--row-->
  </div><!--container-->
</div><!--HEAD-->

<!--HEAD MENU-->
<div class="head-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--burger-->
                <div class="pos-f-t  d-lg-none d-xl-none">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-dark p-4">
                            <div class="menu2">
                            <ul>
                                <li class="menu-item"><a href="index.html">home</a></li>
                                <li class="menu-item"><a href="text.html">about us </a> </li>
                                <li class="menu-item"><a href="discounts2.html">prices </a> </li>
                                <li class="menu-item"><a href="discounts.html">discounts </a> </li>
                                <li class="menu-item"><a href="order.html">guarantees </a> </li>
                                <li class="menu-item"><a href="404.html">faq </a> </li>
                                <li class="menu-item"><a href="#">beware </a> </li>
                                <li class="menu-item"><a href="#">contact us </a></li>
                                <li class="menu-item"><a href="#">blog </a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                </div>

                <!--burger-->
                <div class="menu  d-xl-block d-lg-block d-md-none d-sm-none d-none">

                    <ul>
                        <li class="menu-item"><a href="index.html">home</a></li>
                        <li class="menu-item"><a href="text.html">about us </a> </li>
                        <li class="menu-item"><a href="discounts2.html">prices </a> </li>
                        <li class="menu-item"><a href="discounts.html">discounts </a> </li>
                        <li class="menu-item"><a href="order.html">guarantees </a> </li>
                        <li class="menu-item"><a href="404.html">faq </a> </li>
                        <li class="menu-item"><a href="#">beware </a> </li>
                        <li class="menu-item"><a href="#">contact us </a></li>
                        <li class="menu-item"><a href="#">blog </a></li>
                    </ul>
                </div><!--head menu-->
            </div>
        </div><!--row-->
    </div><!--container-->

</div><!--HEAD MENU-->

<!--HEAD AFTER-->
<div class="head-after">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-6 col-xl-6">
                <div class="after-head-text">
                    <a class="logo" href="/"></a>
                    <h1>Things go Better with Us!</h1>
                    <h3>What we offer you:</h3>
                    <ul>
                        <li>A dedicated writer who is qualified in your field</li>
                        <li>Your subject matter analyzed, researched, referenced and written as you instruct</li>
                        <li>Papers tested for plagiarism using top-notch plagiarism software</li>
                        <li>A flawless end product in terms of style and grammar</li>
                    </ul>
                    <div class="after-head-links">
                        <a href="#" class="b"><span>Essays &amp; Research Papers</span></a>
                        <a href="#" class="b"><span>Dissertations &amp; Theses</span></a>
                        <a href="#" class="b"><span>Resumes &amp; CVs</span></a>
                        <a href="#" class="b"><span>Editing &amp; Proofreading</span></a>
                    </div>
                </div>
            </div>
        </div><!--row-->
    </div><!--container-->
</div><!--HEAD AFTER-->

<!--INDEX FORM-->
<div class="index-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-block">
                    <h2>
                        Get a price quote
                        <span><b>15%</b><b>OFF</b>YOUR FIRST ORDER</span>
                    </h2>
                </div>
                <!--Form-->
                <div class="form-flex">
                <form action="#">

                    <fieldset>
                        <div class="box">
                        <label for="title">TITLE OF YOUR PAPER</label>
                        <select name="title" id="title">
                            <option disabled selected>Please pick one</option>
                            <option>Slower</option>
                            <option>Slow</option>
                            <option>Medium</option>
                            <option>Fast</option>
                            <option>Faster</option>
                        </select>
                        </div>
                        <div class="box">
                        <label for="level">ACADEMIC LEVEL</label>
                        <select name="level" id="level">
                            <option disabled selected>Please pick one</option>
                            <option value="jquery">jQuery.js</option>
                            <option value="jqueryui">ui.jQuery.js</option>
                            <option value="somefile">Some unknown file</option>
                            <option value="someotherfile">Some other file with </option>

                        </select>
                        </div>
                         <div class="box">
                        <label for="spacing">SPACING</label>
                        <select name="spacing" id="spacing">
                            <option disabled selected>Please pick one</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                         </div>
                        <div class="box">
                        <label for="urgency">URGENCY</label>
                        <select name="urgency" id="urgency">
                            <option disabled selected>Please pick one</option>
                            <option>Mr.</option>
                            <option>Mrs.</option>
                            <option>Dr.</option>
                            <option>Prof.</option>
                            <option>Other</option>
                        </select>
                        </div>
                        <div class="box"><span>total price<b>16.99 USD</b></span></div>
                        <div class="box"><a href="#" class="order-btn">order now</a></div>
                    </fieldset>

                </form>

                </div>
                <!--form-->
            </div>

        </div><!--row-->
    </div><!--container-->
</div><!--Index form-->

<!--INDEX CONTENT-->
<div class="index-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Essay writing is challenging, difficult and time-consuming
                </h2>
                <p>
                    Are students overseas concerned about different research papers writing?
                    Certainly yes! It is often much harder for them to keep up with written essay
                    assignments, especially at higher level education. Though they may study hard,
                    but they may still be disappointed with the grades they get for their coursework.
                    The recipe for success is to create a genuinely good research paper with a unique
                    angle. When this is strengthened with good editing and a plagiarism test, you have
                    an opportunity to get a grade winning essay.
                    If you are thinking you can't write your essay well enough and you need professional
                    assistance, then you are thinking along the right lines. When your tutors read the
                    essay we provide, they will love it. They will think you wrote it and they will admire
                    the way it is written, so you are likely to get an A grade.
                </p>

            </div>
        </div><!--row-->
    </div><!--container-->
</div><!--Index content-->

<!--FEATURES-->
<div class="features">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box box-1">
                    <span></span>
                    <h4>All your standards will be meet</h4>
                    <p>These days, on a monthly basis, countless students buy essays from professional writing service providers. And, guess what? This is no big surprise. There are many students who aren't very skilled at writing and cannot produce good-quality, accurately referenced and perfectly edited custom papers on their own.</p>
                    <a href="#" class="read-m">READ MORE</a>
                </div>
            </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="box box-2">
                        <span></span>
                        <h4>Our professional writers
                            can make all the
                            difference for students</h4>
                        <p>As a market-leading provider of essay help, we have unquestionable
                            experience and a well-established reputation in our field. Our
                            main objective is to lend our assistance to students all around
                            the globe so that they may succeed in their academic endeavors
                            and in every aspect of their lives. If you buy your papers from
                            us online, you will be able to manage your busy schedule better
                            and devote more time to friends and family or use it for other
                            more pressing matters, whether</p>
                        <a href="#" class="read-m">READ MORE</a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="box box-3">
                        <span></span>
                        <h4>FIVE GOOD REASONS TO PARTNER BESTWRITINGHELP.ORG</h4>
                        <p>All said, there are five good reasons that make us the best and
                            most professional service provider with over 90% of our customers
                            placing repeat orders.
                        </p>
                        <ul>
                            <li>Original content: All papers are fully free of plagiarism</li>
                            <li>Punctuality: With over 2000 writers, all papers are delivered on time</li>
                            <li>Legitimate ordering process: We use trustworthy billing methods e.g. Payoneer,
                                PayPal and similar</li>
                        </ul>
                        <a href="#" class="read-m">READ MORE</a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="box box-4">
                        <span></span>
                        <h4>THERE IS A SOLUTION IF YOU BUY ESSAYS FROM US</h4>
                        <p>It may surprise you to learn that one in four students use the
                            services of custom writing companies. It is entirely reasonable
                            to look for essay help from experts when you have an overly
                            complex assignment. If you do, you will:</p>
                        <ul>
                            <li>Gain some free time for yourself</li>
                            <li>Get improved grades</li>
                            <li>Be equal to the best students on your course</li>
                            <li>Win the admiration of your tutors</li>
                        </ul>
                        <a href="#" class="read-m">READ MORE</a>
                    </div>
                </div>

        </div><!--row-->
    </div><!--container-->
</div><!--Features-->

<!--WHY-->
<div class="why">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="h2">
                    WHY ORDER PAPER ASSIGNMENTS FROM BESTWRITINGHELP.ORG?
                </h2>
                <span>The features that define our uniqueness when
                    you order paper assignments:</span>
                <div class="why-flex">
                    <div class="con">
                        <span class="num">
                            <span>1</span>
                        </span>
                        <p>A team of writing experts that is
                            larger than you will find elsewhere.</p>
                    </div>
                    <div class="con">
                        <span class="num">
                            <span>2</span>
                        </span>
                        <p>Flexible pricing structure based on your
                            academic level, the length of your assignment
                            and the time. </p>
                    </div>
                    <div class="con">
                        <span class="num">
                            <span>3</span>
                        </span>
                        <p>The highest number of clients.</p>
                    </div>
                    <div class="con">
                        <span class="num">
                            <span>4</span>
                        </span>
                        <p>Attractive discounts for repeat customers. </p>
                    </div>
                    <div class="con">
                        <span class="num">
                            <span>5</span>
                        </span>
                        <p>Close collaboration between customer and writer. </p>
                    </div>
                    <div class="con">
                        <span class="num">
                            <span>6</span>
                        </span>
                        <p>Revisions accommodated where customer is not
                            satisfied with our first effort.</p>
                    </div>
                    <div class="con">
                        <span class="num">
                            <span>7</span>
                        </span>
                        <p>High levels of security for all customers.</p>
                    </div>
                    <div class="con">
                        <span class="num">
                            <span>8</span>
                        </span>
                        <p>Convenient contact methods with our headquarters
                            if you have any queries on your. </p>
                    </div>

                </div>


            </div>

        </div><!--row-->
    </div><!--container-->
</div><!--why-->

<!--HOW IT WORKS-->
<div class="hiw">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hiw-block">
                    <h2 class="h2">how it works</h2>

                    <div class="tabs-block">

                    <div id="exTab1" class="container">
                        <ul  class="nav nav-pills">
                            <li class="active"><span>1</span><a  href="#1a" data-toggle="tab">Make your way to the order page and complete.</a>
                            </li>
                            <li><span>2</span><a href="#2a" data-toggle="tab">Continue to the payment page.</a>
                            </li>
                            <li><span>3</span><a href="#3a" data-toggle="tab">Monitor your email for confirmation of your order and save</a>
                            </li>
                            <li><span>4</span><a href="#4a" data-toggle="tab">Use your personal account area to contact your writer and our s</a>
                            </li>
                            <li><span>5</span><a href="#5a" data-toggle="tab">Use the link from our email to download your paper</a>
                            </li>
                            <li><span>6</span><a href="#6a" data-toggle="tab">Use the link from our email to download your paper</a>
                            </li>
                        </ul>
                    </div>

                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="1a">
                                <div class="works w1"></div>

                                <p>
                                    Take care to provide all your contact information correctly e.g. your telephone number and email address. We remain in constant contact with customers for the duration of their project.
                                    We will use your telephone number and email as our main means of contacting you. Be careful to provide accurate information and describe your requirements in full. Our writer will precisely adhere to the instructions on the form.</p>
                            </div>
                            <div class="tab-pane" id="2a">
                                <div class="works w2"></div>
                                <p>We calculate the deadline from the minute we receive your payment. The writer we allocate will only begin conducting research after your payment has been received. We guarantee a full refund, which means we will give you your money back if you are in any way dissatisfied with the service you receive. We may ask you for identification verification. This is our method of ensuring you are actually the person who ordered the paper.</p>
                            </div>
                            <div class="tab-pane" id="3a">
                                <div class="works w3"></div>

                                <p>We will confirm your order by email and provide all the information needed to ensure our joint cooperation is a mutually beneficial one. In this, you will find answers to all your questions; it will tell you how to communicate with your writer and our support team and show you how to add any further files/materials if you need to. You should store this information in case you need to refer to it in the future.</p>
                            </div>
                            <div class="tab-pane" id="4a">
                                <div class="works w4"></div>

                                <p>You can send messages to your writer if you have any queries and he/she will be on hand to respond to you via the same channel. You may update the information you originally provided, but if you make changes to the instructions, the size of your assignment, the service level, the deadline or the type of paper, you may be asked to pay an additional fee to allow us to handle your new requirements. Don't panic if you don't receive an immediate response .</p>
                            </div>
                            <div class="tab-pane" id="5a">
                                <div class="works w5"></div>
                                <p>Monitor your email as the deadline gets close. We will notify you when your order is complete and our email will have a link to your personal account area where you can download your paper. Alternatively, we can send your work by email if you have difficulty downloading it.</p>
                            </div>
                            <div class="tab-pane" id="6a">
                                <div class="works w6"></div>
                                <p>Let us know what you think of your paper once you have reviewed it. Our email will contain a link to our customer satisfaction survey form. Please feel free to fill it in. You may also request revisions within two weeks following the deadline. Revisions will be free unless you modify your original</p>
                            </div>
                        </div>



                </div><!--Tab block-->


            </div>


            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="order">
                <a href="#" class="order-btn">order now</a>
                </div>
            </div>
            <div class="col-md-4"></div>

        </div><!--row-->
    </div><!--container-->
</div><!--hiw-->

