<div class="order">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <h2>Order now!</h2>
                <div class="order-box">
                <div class="title">
                    <h3>contact information</h3>
                </div><!--title-->
                <div class="content">
                    <form action="">
                        <div class="form-group">
                            <label for="usrname">First name <i>*</i></label>
                            <input type="text" name="usrname" id="usrname" required>
                        </div>
                        <div class="form-group">
                            <label for="usrlname"> Last name <i>*</i></label>
                            <input type="text" name="usrlname" id="usrlname" required>
                        </div>
                        <div class="form-group">
                            <label for="email"> E-mail <i>*</i></label>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Email me about custom writing service and other product related</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="tel"> Telephone number <i>*</i></label>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I agree to receive phone calls from you at night in case of me</label>
                            <input type="text" name="tel" id="tel" required>
                        </div>
                        <div class="form-group">
                            <label for="mtel">Mobile cell number</label>
                            <input type="text" name="mtel" id="mtel">
                        </div>
                        <div class="form-group">
                            <label for="level">Country code</label>
                            <select name="level" id="level">
                                <option disabled selected>Please pick one</option>
                                <option value="jquery">USA-1</option>
                                <option value="jqueryui">ui.jQuery.js</option>
                                <option value="somefile">Some unknown file</option>
                                <option value="someotherfile">Some other file with a very long option text</option>

                            </select>
                        </div>

                    </form>

                </div>
            </div><!--order-box-->

                <div class="order-box">
                    <div class="title">
                        <h3>order details</h3>
                    </div><!--title-->
                    <div class="content">
                        <form action="">
                            <div class="form-group">
                                <label for="title">Title of your paper <i>*</i></label>
                                <input type="text" name="title" id="title" required>
                            </div>

                            <div class="form-group">
                                <label for="level">Style</label>
                                <select name="level" id="level">
                                    <option disabled selected>Please pick one</option>
                                    <option value="jquery">USA-1</option>
                                    <option value="jqueryui">ui.jQuery.js</option>
                                    <option value="somefile">Some unknown file</option>
                                    <option value="someotherfile">Some other file with a very long option text</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="level">Type of work</label>
                                <select name="level" id="level">
                                    <option disabled selected>Please pick one</option>
                                    <option value="jquery">USA-1</option>
                                    <option value="jqueryui">ui.jQuery.js</option>
                                    <option value="somefile">Some unknown file</option>
                                    <option value="someotherfile">Some other file with a very long option text</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="level">Urgency</label>
                                <select name="level" id="level">
                                    <option disabled selected>Please pick one</option>
                                    <option value="jquery">USA-1</option>
                                    <option value="jqueryui">ui.jQuery.js</option>
                                    <option value="somefile">Some unknown file</option>
                                    <option value="someotherfile">Some other file with a very long option text</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="level">Level</label>
                                <select name="level" id="level">
                                    <option disabled selected>Please pick one</option>
                                    <option value="jquery">USA-1</option>
                                    <option value="jqueryui">ui.jQuery.js</option>
                                    <option value="somefile">Some unknown file</option>
                                    <option value="someotherfile">Some other file with a very long option text</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="level">Number of pages</label>
                                <select name="level" id="level">
                                    <option disabled selected>Please pick one</option>
                                    <option value="jquery">USA-1</option>
                                    <option value="jqueryui">ui.jQuery.js</option>
                                    <option value="somefile">Some unknown file</option>
                                    <option value="someotherfile">Some other file with a very long option text</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="level">Spacing</label>
                                <select name="level" id="level">
                                    <option disabled selected>Please pick one</option>
                                    <option value="jquery">USA-1</option>
                                    <option value="jqueryui">ui.jQuery.js</option>
                                    <option value="somefile">Some unknown file</option>
                                    <option value="someotherfile">Some other file with a very long option text</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="usrlname">Number of sourses <i>*</i></label>
                                <input type="text" name="usrlname" id="usrlname" required>
                            </div>



                            <div class="form-group">
                                <label for="inst">Your paper instructions <i>*</i></label>
                                <textarea name="inst" id="inst" cols="30" rows="10"></textarea>
                            </div>

                            <div class="radioblock">
                                <span class="radio"><input type="radio" id="radio1" />US Writer</span>
                                <span class="radio"><input type="radio" id="radio2" />US Writer (+5% order price)</span>

                            </div>

                            <div class="form-group check">
                                <input type="checkbox" class="form-check" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"><b>21.99 USD </b>1-page summary of your paper</label>
                            </div>
                            <div class="form-group check">
                                <input type="checkbox" class="form-check" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"><b>21.99 USD </b>1-page summary of your paper</label>
                            </div>
                            <div class="form-group check">
                                <input type="checkbox" class="form-check" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"><b>21.99 USD </b>1-page summary of your paper</label>
                            </div>


                            <div class="form-group2">
                                <div class="left">
                                <label for="usrname">Discount code</label>
                                <input type="text" name="usrname" id="usrname">
                                    <a href="#" class="blue-btn">Apply discount</a>
                                </div>

                                <div class="right">
                                    <label for="usrname">Preferred writer's ID</label>
                                    <input type="text" name="usrname" id="usrname" >
                                    <a href="#" class="blue-btn">ADD WRITER</a>
                                </div>
                            </div>


                        </form>

                           <div class="red-text">
                        <p>If your order is written by a preferred writer you will be char
                            If your order is written by a preferred writer you will be char
                            If your order is written by a preferred writer you will be char</p>
                           </div>


                        <div class="form-group check">
                            <input type="checkbox" class="form-check" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I accept Terms And Conditions and the Privacy Policy</label>
                        </div>


                    </div>

                    <div class="vip">
                        <h3>vip offer</h3>
                        <div class="vip-in">
                            <div class="img"></div>
                            <div class="vip-add">
                                <div>Get order prepared by top 10 writers<b>9.00 USD</b><a href="#" class="add">Add</a></div>
                                <div>Get VIP support<b>9.00 USD</b><a href="#" class="add">Add</a></div>
                                <div>Get order<b>9.00 USD</b><a href="#" class="add">Add</a></div>
                                <div>Vip servise package<b>9.00 USD</b><a href="#" class="add">Add</a></div>
                            </div>

                        </div>
                        <div class="total">
                            <div class="form-group">
                                <select name="level" id="level">
                                    <option disabled selected>USD</option>
                                    <option value="jquery">USD</option>
                                    <option value="jqueryui">EUR</option>
                                    <option value="somefile">UAH</option>

                                </select>
                            </div>
                            <span>total <b>11.99 $</b></span>
                            <span><a href="#" class="order-btn">PREVIEW MY ORDER</a></span>
                        </div>
                    </div>
                </div><!--order-box1-->

            </div>
        </div>
    </div>
</div>