<div class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--POST-->
                <div class="post">
                <div class="post-img">
                    <img src="../img/blog1.png" alt="">

                    <div class="social-block">
                        <a href="https://www.facebook.com"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                        <a href="https://twitter.com"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                        <a href="https://www.pinterest.com"><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a>
                    </div>

                    <div class="tags">
                        <div class="read-m">
                            <p> <a href="#">Technology</a>
                                <a href="#">tags</a>
                                <a href="#">Business</a>
                            </p>
                        </div>

                       <div class="date">
                           June 21, 2017
                       </div>
                    </div>
                </div><!--post img-->


                <h2> A Step-by-Step Guide on How to Win an Essay Contest</h2>
                    <hr>

                    <h3>Have you ever considered taking part in an essay contest?
                        Have you ever considered taking part in an essay contest?</h3>
                    <p>
                        If you are thinking you can't write your essay well enough and you need professional
                        assistance, then you are thinking along the right lines. When your tutors read the
                        essay we provide, they will love it. They will think you wrote it and they will admire
                        the way it is written, so you are likely to get an A grade.
                    </p><br>

                    <h4>Nunc posuere eros quis dolor hendrerit tempus In gravida ligula</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta explicabo nemo
                        nihil officia omnis sint tenetur. Alias, aperiam aut blanditiis consequuntur cumque est
                        et eum iusto, neque rem, velit.</p><br>

                    <h4>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta explicabo nemo
                        nihil officia omnis sint tenetur. Alias, aperiam aut blanditiis consequuntur cumque est
                        et eum iusto, neque rem, velit.</p><br>

                    <h4>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta explicabo nemo
                        nihil officia omnis sint tenetur. Alias, aperiam aut blanditiis consequuntur cumque est
                        et eum iusto, neque rem, velit.</p><br>

                    <h4>3. Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta explicabo nemo
                        nihil officia omnis sint tenetur. Alias, aperiam aut blanditiis consequuntur cumque est
                        et eum iusto, neque rem, velit.</p><br>

                </div>  <!--post-->
            </div>
        </div>
    </div>
</div>