<!--INDEX CONTENT-->
<div class="index-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </h2>
                <p>
                    If you are thinking you can't write your essay well enough and you need professional
                    assistance, then you are thinking along the right lines. When your tutors read the
                    essay we provide, they will love it. They will think you wrote it and they will admire
                    the way it is written, so you are likely to get an A grade.
                </p><br>

                <h3>Nunc posuere eros quis dolor hendrerit tempus In gravida ligula</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta explicabo nemo
                    nihil officia omnis sint tenetur. Alias, aperiam aut blanditiis consequuntur cumque est
                    et eum iusto, neque rem, velit.</p><br>

                <h4>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta explicabo nemo
                    nihil officia omnis sint tenetur. Alias, aperiam aut blanditiis consequuntur cumque est
                    et eum iusto, neque rem, velit.</p><br>

                <h4>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta explicabo nemo
                    nihil officia omnis sint tenetur. Alias, aperiam aut blanditiis consequuntur cumque est
                    et eum iusto, neque rem, velit.</p><br>

                <h4>3. Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta explicabo nemo
                    nihil officia omnis sint tenetur. Alias, aperiam aut blanditiis consequuntur cumque est
                    et eum iusto, neque rem, velit.</p><br>

            </div>
        </div><!--row-->
    </div><!--container-->
</div><!--Index content-->

<div class="text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </h2>
                <p>
                    If you are thinking you can't write your essay well enough and you need professional
                    assistance, then you are thinking along the right lines. When your tutors read the
                    essay we provide, they will love it. They will think you wrote it and they will admire
                    the way it is written, so you are likely to get an A grade.
                </p><br>
                <p>
                    If you are thinking you can't write your essay well enough and you need professional
                    assistance, then you are thinking along the right lines. When your tutors read the
                    essay we provide, they will love it. They will think you wrote it and they will admire
                    the way it is written, so you are likely to get an A grade.
                </p><br>

            </div>
        </div>
    </div>
</div>

<div class="text-mid">
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="li">
                    <h3>Lorem ipsum</h3>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    </ul>
                </div>
            </div>

            <div class="box">
                <div class="banner-s">
                    <h1>PLACE for BANNER</h1>
                </div>

                <div class="banner-l">
                <h1>PLACE for BANNER</h1>
            </div>

            </div>
                 <!--faq-->
            <div class="faq">
                <h2>faq</h2>

                <ul>
                    <li>
                        <h3><a  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        How confidential is your writing service? {h1}</a></h3>
                        <div class="collapse" id="collapseExample">
                            <div class="faq-li">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </li>

                    <li><h3><a href="#">Am I free to choose the writer I want? {h2}</a></h3></li>
                    <li><h3><a href="#">How will my custom essay be formatted? {h3}</a></h3> </li>
                    <li><h3><a href="#">How will my custom essay be formatted? {h4}</a></h3></li>
                    <li><h3><a href="#">How will my custom essay be formatted? {h5}</a></h3></li>
                    <li><h3><a href="#">How will my custom essay be formatted? {h6}</a></h3></li>
                    <li><h3><a href="#">How will my custom essay be formatted? {h7}</a></h3></li>
                </ul>
            </div>
            <!--faq-->

            <!--TABLE-->
            <div class="table faq">
                <h2>want an instant quote? you’ve got it?</h2>
                <p>Just use our Price Calculator to determine the cost of your fut</p>
                <div class="calc">
                    <div class="calc-h">

                        <div class="form-group">
                            <label for="level">Type of assignment</label>
                            <select name="level" id="level">
                                <option disabled selected>Essay</option>
                                <option value="jquery">USA-1</option>
                                <option value="jqueryui">ui.jQuery.js</option>
                                <option value="somefile">Some unknown file</option>
                                <option value="someotherfile">Some other file with a very long option text</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="level">Number of pages</label>
                            <select name="level" id="level">
                                <option disabled selected>1 pages / 300 words</option>
                                <option value="jquery">USA-1</option>
                                <option value="jqueryui">ui.jQuery.js</option>
                                <option value="somefile">Some unknown file</option>
                                <option value="someotherfile">Some other file with a very long option text</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="level"></label>
                            <select name="level" id="level">
                                <option disabled selected>USD</option>
                                <option value="jquery">USd</option>
                                <option value="jqueryui">EUR</option>
                                <option value="somefile">UAH</option>
                            </select>
                        </div>


                    </div>
                    <div class="content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Writer level/<br>
                                    Timeframe</th>
                                <th scope="col">High School</th>
                                <th scope="col">College</th>
                                <th scope="col">University</th>
                                <th scope="col">Master's</th>
                                <th scope="col">PHD</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">3 hours  </th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">6 hours</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">8 hours </th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                                <td>@mdo</td>

                            </tr>
                            <tr>
                                <th scope="row"> 12 hours </th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@fat</td>
                                <td>@fat</td>

                            </tr>
                            <tr>
                                <th scope="row">24 hours </th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>



                            </tr>
                            <tr>
                                <th scope="row">3 hours  </th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@fat</td>
                                <td>@fat</td>

                            </tr>
                            <tr>
                                <th scope="row">6 hours</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>


                            </tr>
                            <tr>
                                <th scope="row">8 hours </th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@fat</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row"> 12 hours </th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>

                            </tr>
                            <tr>
                                <th scope="row">24 hours </th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@fat</td>
                                <td>@fat</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!--TABLE-->
            <div class="contact faq">
                <h2>How to contact us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Doloremque dolorum eius harum iusto non perspiciatis quibusdam
                    reprehenderit sunt vero voluptatum. Alias asperiores, cumque eveniet
                    expedita fuga id nihil repellat voluptate.</p>

                <div class="contact-form">
                    <div class="info"></div>
                    <div class="title"><h3>contact form</h3></div>
                    <div class="form">
                        <form action="">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject">
                            <div class="center">
                                <div class="left">
                                    <label for="subject">Subject</label>
                                    <input type="text" id="subject">

                                    <label for="subject">Subject</label>
                                    <input type="text" id="subject">

                                    <label for="subject">Subject</label>
                                    <input type="text" id="subject">
                                </div>
                                <div class="right">
                                    <label for="text">Message</label>
                                    <textarea name="text" id="text" ></textarea>
                                </div>
                            </div>
                            <div class="a">
                            <a type="submit" class="od-btn">Send message</a>
                            </div>

                        </form>

                    </div>

                </div>


                <!--Table-->
                <div class="blu-table">
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th scope="col">Lorem ipsum dolor</th>
                            <th scope="col">Mauris nec magna et magna</th>
                            <th scope="col">Mauris nec magna et magna</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>

                        </tr>
                        <tr class="even">
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>

                        </tr>
                        <tr class="odd">
                            <th scope="row">3</th>

                            <td>@twitter</td>
                            <td>@twitter</td>

                        </tr>
                        <tr class="even">
                            <th scope="row">3</th>

                            <td>@twitter</td>
                            <td>@twitter</td>

                        </tr>
                        <tr class="odd">
                            <th scope="row">3</th>

                            <td>@twitter</td>
                            <td>@twitter</td>

                        </tr>
                        <tr class="even">
                            <th scope="row">3</th>

                            <td>@twitter</td>
                            <td>@twitter</td>

                        </tr>
                        <tr class="odd">
                            <th scope="row">3</th>

                            <td>@twitter</td>
                            <td>@twitter</td>

                        </tr>
                        </tbody>
                    </table>



                </div>
                <!--blu-table-->
                <!--Slider-->
                  <div class="slider">
                      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          </ol>
                          <div class="carousel-inner">

                              <div class="carousel-item active">
                                  <div class="slide-in">
                                      <div class="left">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              Adipisci aut dolore dolores esse ipsa iusto laudantium sunt
                                              veritatis voluptatem! Animi deleniti dolorem facere magni
                                              maxime nihil non quaerat sunt, vel.</p>
                                          <span><b>Linda  USA</b></span>
                                      </div>
                                      <div class="right">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              Adipisci aut dolore dolores esse ipsa iusto laudantium sunt
                                              veritatis voluptatem! Animi deleniti dolorem facere magni
                                              maxime nihil non quaerat sunt, vel.</p>
                                          <span><b>Linda  USA</b></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="carousel-item">
                                  <div class="slide-in">
                                      <div class="left">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              Adipisci aut dolore dolores esse ipsa iusto laudantium sunt
                                              veritatis voluptatem! Animi deleniti dolorem facere magni
                                              maxime nihil non quaerat sunt, vel.</p>
                                          <span><b>Linda  USA</b></span>
                                      </div>
                                      <div class="right">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              Adipisci aut dolore dolores esse ipsa iusto laudantium sunt
                                              veritatis voluptatem! Animi deleniti dolorem facere magni
                                              maxime nihil non quaerat sunt, vel.</p>
                                          <span><b>Linda  USA</b></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="carousel-item">
                                  <div class="slide-in">
                                      <div class="left">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              Adipisci aut dolore dolores esse ipsa iusto laudantium sunt
                                              veritatis voluptatem! Animi deleniti dolorem facere magni
                                              maxime nihil non quaerat sunt, vel.</p>
                                          <span><b>Linda  USA</b></span>
                                      </div>
                                      <div class="right">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              Adipisci aut dolore dolores esse ipsa iusto laudantium sunt
                                              veritatis voluptatem! Animi deleniti dolorem facere magni
                                              maxime nihil non quaerat sunt, vel.</p>
                                          <span><b>Linda  USA</b></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
                <!--Slider-->

            </div>



            </div>
        </div>
    </div>
</div>