// General button styles
$button-border: 1px solid $bgColorPrimaryLight;
$button-background-focus: lighten($bgColorPrimaryLight, 4%);
$button-font-size: 18px;
$button-color:$bgColorPrimaryLight;
$button-padding:10px 0;




//  General button styles
.b{
  border: $button-border;
  display: inline-block;
  padding: $button-padding;
  vertical-align: middle;
  font-family:$font-regular;
  color:$button-color;
  overflow: hidden;
  width:44%;
  margin:10px;
  &:hover{
    color:$button-color;
    text-decoration: none;
    transition: 1.50s;
    transform: scale(1.1);

  }
}

.h{
  border:1px solid  $readm-hover;
  display: inline-block;
  padding: $button-padding;
  vertical-align: middle;
  font-family:$font-regular;
  color:$readm-hover;
  overflow: hidden;
  width:44%;
  margin:10px;
  &:hover{
    color:$readm-hover;
    text-decoration: none;
    transition: 1.50s;
    transform: scale(1.1);

  }
}

a.read-m{
  font-family:$font-regular;
  text-decoration: none;
  color:$bgwhite;
  background-color: $readm-btn;
  width:125px;
  height:35px;
  position: relative;
  left:25%;
  padding-top:6px;
  &:after{
    margin-left:5px;
    font-family: $fontawesome;
    content: "\f101";
    color:$bgwhite;
    font-size:14px;

  }
}

//Head
.order-head{
  text-align: center;
  padding-top: 52px;

}
.order-btn{
  position: relative;
  background-color: $order-btn;
  padding: 8px 23%;
  text-transform: uppercase;
  font-family:$font-regular;
  color:$bgwhite;
  overflow: hidden;
  width:100%;
  margin:0;
  font-size:1.5rem;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 19px 0 0;
    border-color: $order-btn transparent transparent transparent;
  }
  &:hover {
    color: $bgwhite;
    background-color:$order-hover;
    text-decoration: none;
    &:after{border-color: $order-hover transparent transparent transparent;}
  }
}
@media (max-width: 991.99px) {
  .order-btn{
    padding: 8px 17%;
  }
}
@media (max-width: 1199.99px) {
  .order-btn{
    padding: 8px 17%;
    font-size:1.0rem;
  }
}

.od-btn{
  padding:10px 20px;
  background-color: $bgColorPrimaryLight;
  color:$readm-hover;
  text-transform: uppercase;
  font-family:$font-bold;
  &:hover{
    background-color: $readm-hover;
    color:$bgColorPrimaryLight;
    text-decoration: none;
  }
}

.blue-btn{
    position: relative;
    background-color: $bgColorPrimaryLight;
    padding: 8px 80px;
    text-transform: uppercase;
    font-family:$font-regular;
    color:$readm-hover;
    overflow: hidden;
    width:44%;
    margin:10px;
    font-size:25px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 19px 0 0;
      border-color: $bgColorPrimaryLight transparent transparent transparent;
    }
    &:hover {
      color: $bgColorPrimaryLight;
      background-color:$readm-hover;
      text-decoration: none;
      &:after{border-color: $readm-hover transparent transparent transparent;}
    }
}
.add{
  color:$readm-hover ;
  background-color:$bgColorPrimaryLight;
  padding:0 10px;
  margin:0 10px;
  border-radius:20px;
  &:hover{
    color:$bgColorPrimaryLight ;
    background-color:$readm-hover;
    text-decoration: none;
  }
}


// Shared icon styles
//.btn,
//.btn-large {
//  font-size: $button-font-size;
//  font-family:$font-semibold;
//  outline: 0;
//
//  i {
//    font-size: $button-icon-font-size;
//    line-height: inherit;
//  }
//}

//  focus button style
//.btn{
//  &:focus {
//    background-color:$bgColorSecondary;
//  }
//}

// Button
//.btn {
//  text-decoration: none;
//  color: $bgwhite;
//  background-color: $bgColorPrimaryDark;
//  text-align: center;
//  letter-spacing: .5px;
//  transition: .2s ease-out;
//  cursor: pointer;
//
//  &:hover {
//    background-color: $bgColorSecondary;
//    color: $bgwhite;
//
//  }
//}


//Btn small
//.small{
//  font-size:$sbtn-font-size;
//  font-family:$font-light;
//  height: $sbtn-height;
//  display: inline;
//  padding: $sbtn-padding;
//  text-decoration: none;
//  color: $bgwhite;
//  background-color: $bgColorPrimaryDark;
//  text-align: center;
//  letter-spacing: .5px;
//  transition: .2s ease-out;
//  cursor: pointer;
//  border: $button-border;
//  border-radius: $button-radius;
//  line-height: $button-height;
//  text-transform: uppercase;
//  vertical-align: middle;
//  -webkit-tap-highlight-color: transparent;
//
//}
//.small a:hover{
//  background-color: $bgColorSecondary;
//  color: $bgwhite;
//
//}

// Large button
//.btn-large {
//  @extend .btn;
//  height:$button-large-height ;
//  line-height:$button-large-height;
//  background-color: $bgColorSecondary;
//  padding:$lbutton-padding;
//  i {
//    font-size: $button-font-size;
//  }
//  &:hover {
//    background-color: $bglhbutton;
//    text-decoration: none;
//
//  }



