$bgColorPrimaryDark:#013056;
$bgColorPrimaryLight:#1b7fd0;
$order-hover:#a40000;
$order-btn:#dd0000;
$readm-btn:#075da2;
$readm-hover:#caddea;
$black:#000;
$bgwhite:#fff;
$bg:#e0ecf4;
$features:#f4f6fa;
$input:#e9f7fe;