h1{
 @include font(32px,$bgColorPrimaryLight,normal,$font-bold)
  text-transform: uppercase;
}

h2{
  @include font(28px,$bgColorPrimaryLight,normal,$font-bold)
  text-transform: uppercase;
}

h3{
  @include font(22px,$bgColorPrimaryLight,normal,$font-medium)
}
h4{
  @include font(18px,$bgColorPrimaryLight,normal,$font-medium)
}

p{
  @include font(18px,$black,normal,$font-thin)
}

a{text-decoration: none;}

li{
  @include font(15px,$black,normal,Arial)
}

.h2{
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2);
  background-color: #caddea;
  text-align: center;
  padding: 7px 15px;
  position: relative;
  display: block;
  color:$bgColorPrimaryLight;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 19px 0 0;
    border-color: #caddea transparent transparent transparent;
  }
}

.after-head{
  text-align: center;
}